:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000;
}
